@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  scroll-behavior: smooth;
  color: #222222;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

* {
  box-sizing: border-box;
}

section {
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 26px;
  margin-bottom: 5px;
}

h2 {
  font-size: 20pt;
  font-style: italic;
  margin-bottom: 5px;
  margin-top: 10px;
}

.title {
  padding: 20px;
  margin: 10px;
  padding-top: 60px;
}


.svelte-yhjukw
{
  padding-top: 10px;
}

.svelte-1iw9sua
{
    padding: 4px;
    border-radius: 4px;
}

.country-highlight
{
  color: white;
}

#citizenship-paths
{
  padding-top: 40px;
}

.instructions
{
  font-size: 14px;
}

.country-card__country-name
{
  height: 40px;
}

#legend {
  top: 0;
}