@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-black: #222222;
  --link-gray: #aaaaaa;
  --light-gray: #eeeeee;
}

html,
body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  scroll-behavior: smooth;
  color: var(--main-black);
  font-family: "Jost", sans-serif;
  text-align: center;
}

* {
  box-sizing: border-box;
}

section {
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 26px;
  margin-bottom: 5px;
}

h2 {
  font-size: 20pt;
  font-style: italic;
  margin-bottom: 5px;
  margin-top: 10px;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--main-black);
  border-bottom: 2px solid var(--main-black);
  transition: all 0.4s ease;
}

a:hover {
  color: var(--link-gray);
  border-bottom: 2px solid var(--link-gray);
}

.user-signifier {
  color: var(--link-gray);
  font-style: italic;
  font-size: 0.8em;
}
